body{
    background-color: hsl(0, 13%, 88%);
}
#welcomtainer{
    text-align:  center;
    font-size: 1.3rem;
    background-color: white;
    margin-top: 100px;
}
#checkBox
{
    margin-top: 50px;
    font-family: Helvetica;
    font-size: 1.3rem;
    display: inline;
    justify-content: center;
    
}
button{
    margin-top: 20px;
    font-size: 1.5rem;
    background-color: hsl(237, 82%, 65%);
    border-radius: 10px;
    margin-bottom: 20px;

}
button:hover{
    
cursor: pointer;
background-color:  hsl(237, 82%, 55%);
}
