body{
    background-color: hsl(0, 13%, 88%);
    margin: 0;
    padding: 0;
}

#welcometeam{
    text-align: center;
    font-size: 1.1rem;
    background-color: white;
    margin-top: 100px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}
#inputcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#inputcont input{
    width: 20%;
}
#save{
  
    font-size: 1.5rem;
    background-color: hsl(236, 11%, 49%);
    border-radius: 5px;
  
}
#save:hover{
    
    cursor: pointer;
    background-color:  hsl(237, 82%, 55%);
    }
form{
    text-align:  center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    background-color: hsla(0, 0%, 100%, 0.719);
    margin-bottom: 50px;

}
form label{
    margin-right: 10px;
}
#dropdown{
    margin-bottom: 20px;
    font-size: 2rem;
    background-color: beige;
}

#text{
    background-color: hsl(60, 18%, 87%);
    font-size: 1.3rem;
}

#navlist {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px; 
     width: 90%;
}

#navlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
 
  
}

#navlist li {
    cursor: pointer;
    margin-left: 10px;
  
}

#back {
    order: -1;
    margin-right: auto;

}
#navlist a{
    color: white;
}